<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ошибка!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="../static/error_bot.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" class="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
      <main role="main" class="container">
        <div class="jumbotron">
          <h1 class="text-danger">Ошибка доступа!</h1>
          <p class="lead">Неверный VK-TOKEN и/или ID-GROUP! Пожалуйста, убедитесь, что введенные вами данные в настройках вашего профиля верны! В противном случае пересоздайте или используйте другой ключ!</p>
          <a class="btn btn-lg btn-warning" href="/my" role="button">Вернуться в профиль &raquo;</a>
        </div>
      </main>
    </div>
  </body>
</html>
